.rvmrc
config/*.yml
!config/assets.yml
config/revent_config.rb
config/actionmailer_config.rb
config/flickr_config.rb
config/initializers/hoptoad.rb
test/config/*.yml
*.swp
*.swo
log/*
tmp/*
test/tmp/*
doc/pxd/*
public/javascripts/prototype/*
db/exports/*
db/imports/*
db/*.sql
db/*.zip
public/cache/*
public/manual_cache/*
public/attachments/*
public/themes/*
public/assets/*
sites/*
test/cache/*
coverage/*
shared/*
.DS_Store
nohup.out
rejects.csv
winners.csv
themes/*
