vendor/plugins/revent_*
.rvmrc
config/*.yml
!config/assets.yml
config/revent_config.rb
*.swp
*.swo
log/*
tmp/*
test/tmp/*
doc/pxd/*
db/exports/*
db/imports/*
db/*.sql
db/*.zip
public/uploads/*
public/themes/*
public/assets/*
test/cache/*
coverage/*
shared/*
.DS_Store
nohup.out
rejects.csv
winners.csv
themes/*
