#header{}
#header a{}
#header a:hover{
  text-decoration:none;
}
#banner{
color: #000000;
display: block;
font-size: 99px;
line-height: 99px;
position: relative;
right: 7px;
}
#take-action .btn{
margin-bottom: 1em;
}
#manage-logged-in{
  padding: 8px 0;
}

@media (max-width: 480px) { 
  #event-map-container{
    display:none;
  }
}

#event-rsvp-form .control-label {
  float:none;
  padding-top:0;
  text-align:left;
}
#event-rsvp-form .controls {
  margin-left: 0;
}
#event-rsvp-form .form-actions{
  background: transparent;
  border-top: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  padding: 0;
}
#event-rsvp{
  padding-left: 15px;
  padding-right: 15px;
}
