<!-- begin revent flash notice -->
<% if flash[:notice] %>
  <div class="flash-box alert alert-success">
    <%= flash[:notice] %>
    <div class="clearfix"></div>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="flash-box-error alert alert-error">
    <%= flash[:error] %>
    <div class="clearfix"></div>
  </div>
<% end %>
<div class="js-flash-container"></div>
<!-- end revent flash notice -->