<%= yield :pre_header %>

<!-- revent global headers and javascript -->
<%= include_javascripts :framework, :public %>
<%= include_stylesheets :public %>

<!-- namespace jQuery -->
<script type="text/javascript">
  var emitter = _.clone(Backbone.Events);
</script>

<%= yield :header %>
