<div class="event-announcement">
  <h4><%= scrub(announcement.title) %></h4>
  <div class="event-annoucement-time"><%= announcement.created_at.to_s(:short) %></div>
  <p class="event-annoucement-details"><%= scrub(simple_format(announcement.body)).html_safe %></p>
</div>
