<% render :partial => 'maps/map_headers' %>
<%= render :partial => 'calendars/map_js' %>
<div id='event-search'></div>
<div id="event-map-container" class="row">
  <div id='hahhaha'></div>
  <div id="eventmap" class="span9" style="height:<%=@map_height%>; width: <%=@map_width%>"></div>
</div>

