development:
  bucket_name: 
  access_key_id: 
  secret_access_key: 
  port: 80

test:
  bucket_name: 
  access_key_id: 
  secret_access_key: 
  port: 80

production:
  bucket_name: 
  access_key_id: 
  secret_access_key: 
  port: 80
