SUPERUSERS = [ 'admin@example.org' ]

DEFAULT_IMPORT_USER = "events@example.org"

SHORTLINE_IP = '127.0.0.1'
SHORTLINE_PORT = '8009'
SHORTLINE_TIMEOUT = 5 # in seconds

MEMCACHE_SERVERS = ['127.0.0.1:11211']

VARNISH_SERVERS = ['127.0.0.1', '10.0.0.1']

AWS_S3_BUCKET_NAME = ''

DEFAULT_GOOGLE_MAPS_API_KEY = ''

ENV['RECAPTCHA_PUBLIC_KEY'] = '' 
ENV['RECAPTCHA_PRIVATE_KEY'] = '' 

DEFAULT_ICON_UPCOMING = {
  :image => '/images/dark_blue_dot.png',
  :width => 10,
  :height => 10,
  :anchor_x => 5,
  :anchor_y => 5
}

DEFAULT_ICON_PAST = {
  :image => '/images/light_blue_dot.png',
  :width => 10,
  :height => 10,
  :anchor_x => 5,
  :anchor_y => 5
}

DEFAULT_ICON_WORKSITE = {
  :image => '/images/green_dot.png',
  :width => 10,
  :height => 10,
  :anchor_x => 5,
  :anchor_y => 5
}

SALSA_TEST_ACCOUNT = {
  :user => '',
  :pass => '',
  :node => ''
}

def initialize_geocoders
  Geocoder.config[:timeout] = 3
  Geocoder.config[:lookup] = :google
end

def actionmailer_options environment
  case environment
  when "development"
    return {
      :domain => 'some.domain.tld',
      :address => 'smtp.domain.tld',
      :port => 587,
      :user_name => 'events@domain.tld',
      :password => '***password***',
      :perform_deliveries => true,
      :authentication => :login
    }
  when "production"
    return {
      :domain         => "some.domain.tld",
      :address        => 'smtp.domain.tld',
      :port           => 587,
      :user_name      => 'events@domain.tld',
      :password       => '***password***',
      :authentication => :login
    }
  when "test"
    return {
      :domain         => "some.domain.tld",
      :address        => 'smtp.domain.tld',
      :port           => 587,
      :user_name      => 'events@domain.tld',
      :password       => '***password***',
      :authentication => :login
    }
  end
end

def initialize_uploads environment
  # options here are detailed in https://github.com/jnicklas/carrierwave
  case environment
  when "development"
    CarrierWave.configure do |config|
      config.fog_credentials = {
        :provider               => 'AWS',                        # required
        :aws_access_key_id      => 'xxx',                        # required
        :aws_secret_access_key  => 'yyy',                        # required
        :region                 => 'eu-west-1',                  # optional, defaults to 'us-east-1'
        :host                   => 's3.example.com',             # optional, defaults to nil
        :endpoint               => 'https://s3.example.com:8080' # optional, defaults to nil
      }
      config.fog_directory  = 'name_of_directory'                     # required
      config.fog_public     = false                                   # optional, defaults to true
      config.fog_attributes = {'Cache-Control'=>'max-age=315576000'}  # optional, defaults to {}
    end
  when "production"
    CarrierWave.configure do |config|
      config.fog_credentials = {
        :provider                         => 'Google',
        :google_storage_access_key_id     => 'xxxxxx',
        :google_storage_secret_access_key => 'yyyyyy'
      }
      config.fog_directory = 'name_of_directory'
    end
  when "test"
    CarrierWave.configure do |config|
      config.storage = :file
    end
  end
end
