<div class="category-form">
  <div class="field"><label for="name">name</label><input name="name" value="<%= category.get('name') %>" /></div>
  <div class="field"><label for="description">description</label><input name="description" value="<%= category.get('description') %>" /></div>
  <input type="hidden" name="calendar_id" value="<%= category.get('calendar_id') %>" />
</div>  