<td class="list-data">
  <%= category.get("name") %>
</td>
<td class="list-data">
  <%= category.get("description") %>
</td>
<td class="list-control">
  <a class="button save-btn">Save</a>
</td>
<td class="list-control">
  <a class="button delete-btn">Delete</a>
</td>