<td class="list-data">
  <%= trigger.get("name") %>
</td>
<td class="list-data">
  <%= trigger.get("subject") %>
</td>
<td class="list-data">
  <%= trigger.get("from") %>
</td>
<td class="list-data">
  <%= trigger.get("from_name") %>
</td>
<td class="list-control">
  <a class="button save-btn">Save</a>
</td>
<td class="list-control">
  <a class="button delete-btn">Delete</a>
</td>