<td class="list-data">
  <%= sponsor.get("name") %>
</td>
<td class="list-data">
  <%= sponsor.get("partner_code") %>
</td>
<td class="list-data">
  <%= sponsor.get("description") %> 
</td>
<td class="list-control">
  <a class="button delete-btn">Delete</a>
</td>
