<td class="list-data">
  <%= theme_element.get('name') %>
</td>
<td class="list-control">
  <a class="button save-btn">Save</a>
</td>
<td class="list-control">
  <a class="button delete-btn">Delete</a>
</td>
