<div class="theme-element-form">
  <div class="basic-info">
    <div class="markdown markdown-<%= theme_element.get('name') %>">
      <div class="markdown-text-wrapper"><div class="markdown-text"></div></div>
    </div>
  </div>
</div>
