<div id="reset-password-form-errors" class="errors"></div>
<form id="reset-password-form">
  <div class="errors"></div>
  <p>Reset password for <%= name %>?</p>
  <label for="password">New Password</label>
  <input id="user_password" type="password" size="30" name="password">
  <label for="password_confirmation">Confirm New Password</label>
  <input id="user_password_confirmation" type="password" size="30" name="password_confirmation">
</form>