<td class="list-data">
  <%= user.get("email") %>
</td>
<td class="list-data">
  <%= user.get("first_name") %> 
</td>
<td class="list-data">
  <%= user.get("last_name") %>
</td>
<td class="list-data">
  <%= user.get("location") %>
</td>
<td class="list-data">
  <%= user.get("city") %>
</td>
<td class="list-data">
  <%= user.get("state") %>
</td>
<td class="list-data">
  <%= user.get("postal_code") %>
</td>
<td class="list-control">
  <a class="button delete-btn">Delete</a>
</td>